<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Cancer Detection - About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('testimonials') }}">Testimonials</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>
</header>


    <main>
        <h1>About Us</h1>
        <p>We are dedicated to providing accurate and timely skin cancer detection services using state-of-the-art technology and expert analysis.</p>
        <p>Our team of medical professionals and data scientists work together to ensure the highest level of accuracy in our skin cancer detection process.</p>
    </main>

    <footer>
        <p>&copy; 2024 Skin Cancer Detection. All rights reserved.</p>
    </footer>
</body>
</html>